.upper-bar {
    background-color: #992600;
    padding: 15px 0;
}

.upper-bar form {
    font-size: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.upper-bar form input[type="text"],
.upper-bar form button {
    font-size: 16px;
}

.upper-bar form input[type="text"] {
    width: 300px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 20px;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
}

.upper-bar form input[type="text"]:focus {
    outline: none;
    background-color: #ffffff;
    box-shadow: 0 0 3px 2px #99ccff;
}

.upper-bar form button {
    margin-left: -32px;
    padding: 5px 8px;
    border: none;
    border-radius: 10px;
    background-color: #d9d9d9;
}

.upper-bar form button:focus {
    outline: none;
}

.logo-meal-db {
    width: 100%;
}

.meal {
    font-size: 0;
    vertical-align: top;
    margin-top: 20px;
    padding: 0;
}

.meal > div {
    font-size: 16px;
}

.meal, .meal > div {
    display: inline-block;
}

.thumbnail, .name {
    vertical-align: top;
}

.thumbnail img {
    width: 100%;
}

.name {
    margin-bottom: 10px;
    vertical-align: top;
}

.attr-name {
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.instructions {
    text-align: justify;
    white-space: pre-line;
}

.no-results {
    margin-top: 20px;
    text-align: justify;
}

@media screen and (max-width: 767px) {
    .logo-meal-db {
        text-align: center;
    }

    .upper-bar form {
        justify-content: center;
        margin-top: 15px;
    }

    .thumbnail {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 768px) {
    .form-search {
        padding-right: 20px;
    }

    .meal {
        display: inline-block;
        margin-left: -3px;
        padding: 5px;
    }
}